<template>
    <div class="container">
        <div class="row mt-3" v-if="$gate.isAdminOrAuthor()">
	          <div class="col-12">
	            <div class="card">
	              <div class="card-header">
	                <h3 class="card-title">Responsive Hover Table</h3>

	                <div class="card-tools">
	                 	<button class="btn btn-success" @click="openModal()">Add New <i class="fas fa-user-plus"></i></button>
	                </div>
	              </div>
	              <!-- /.card-header -->
	              <div class="card-body table-responsive p-0">
	                <table class="table table-hover">
	                  <thead>
	                    <tr>
	                      <th>ID</th>
	                      <th>Name</th>
	                      <th>Email</th>
	                      <th>Type</th>
	                      <th>Registered At</th>
	                      <th>Modify</th>
	                    </tr>
	                  </thead>
	                  <tbody>
	                    <tr v-for="user in users.data" :key="user.id">
	                      <td>{{ user.id }}</td>
	                      <td>{{ user.name }}</td>
	                      <td>{{ user.email }}</td>
	                      <td><span class="tag tag-success">{{ user.type | upText }}</span></td>
	                      <td>{{ user.created_at | readableDate }}</td>
	                      <td>
							<a href="#" @click="editUser(user)">
								<i class="fas fa-pen-square" style="font-size: 20px;"></i>
							</a>
							/
							<a href="#" @click="deleteUser(user.id)">
								<i class="fas fa-trash-alt" style="font-size: 20px; color: red;"></i>
							</a>
	                      </td>
	                    </tr>
	                  </tbody>
	                </table>
	              </div>
	              <!-- /.card-body -->
                  <div class="card-footer">
                      <pagination :data="users" @pagination-change-page="getResults"></pagination>
                  </div>
	            </div>
	            <!-- /.card -->
	          </div>
        </div>

        <div v-if="!$gate.isAdminOrAuthor()">
        	<not-found></not-found>
        </div>
	        <!-- Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" v-show="!editMode" id="exampleModalCenterTitle">Add New User</h5>
                <h5 class="modal-title" v-show="editMode" id="exampleModalCenterTitle">User Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              	<form @submit.prevent="editMode ? updateUser() : createUser()">
	              	<div class="modal-body">
	              		<div class="form-group">
              		      	<input v-model="form.name" type="text" name="name"
              		      		placeholder="Name" 
              		        	class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
              		      	<has-error :form="form" field="name"></has-error>
						</div>
	              		<div class="form-group">
              		      	<input v-model="form.email" type="email" name="email"
              		      		placeholder="Email" 
              		        	class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
              		      	<has-error :form="form" field="email"></has-error>
						</div>
						<div class="form-group">
              		      	<textarea v-model="form.bio" id="bio" name="bio"
              		      		placeholder="Short Bio for user (Optional)" 
              		        	class="form-control" :class="{ 'is-invalid': form.errors.has('bio') }"></textarea>
              		      	<has-error :form="form" field="bio"></has-error>
						</div>
						<div class="form-group">
							<select v-model="form.type" id="type" name="type"
								class="form-control" :class="{ 'is-invalid': form.errors.has('type') }">
								<option value="">Select User Role</option>
								<option value="admin">Admin</option>
								<option value="user">Standard User</option>
								<option value="author">Author</option>
							</select>
							<has-error :form="form" field="type"></has-error>
						</div>
						<div class="form-group">
							<input v-model="form.password" type="password" id="password" name="password"
							placeholder="Password" 
							class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
							<has-error :form="form" field="password"></has-error>
						</div>
	              	</div>
	              	<div class="modal-footer">
	                	<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
	                	<button type="submit" v-show="editMode" class="btn btn-warning">Update</button>
	                	<button type="submit" v-show="!editMode" class="btn btn-primary">Create</button>
	              	</div>
	            </form>
            </div>
          </div>
        </div>
    </div>
</template>

<script>
	import Form from 'vform';
    export default {
    	data() {
    		return {
    			editMode: true,
    			users: {},
    			form: new Form({
    				id : '',
    				name : '',
    				email: '',
    				password: '',
    				type: '',
    				bio : '',
    				photo : ''
    			})
    		}
    	},
    	methods: {
            getResults(page = 1){
                axios.get('api/user?page=' + page).then(response => {
                    this.users = response.data;                
                });
            },
    		openModal(){
    			this.editMode = false;
    			this.form.clear();
    			this.form.reset();
    			$('#addNew').modal('show');
    		},
    		editUser(user){
    			this.editMode = true;
    			this.form.clear();
    			this.form.reset();
    			$('#addNew').modal('show');
    			this.form.fill(user);
    		},
    		updateUser(){
    			this.$Progress.start();
    			this.form.put('api/user/'+this.form.id).then(( {data} ) =>{
    				this.loadUsers();
    				$('#addNew').modal('hide');
    				this.$Progress.finish();
    				toast.fire({
    					type: 'success',
    					title: 'User Updated Successfully!'
    				});
    			}).catch(() =>{
    				this.$Progress.fail();
    			});
    		},
    		deleteUser(id){
    			swal.fire({
    			  	title: 'Are you sure?',
    			  	text: "You won't be able to revert this!",
    			  	type: 'warning',
    			  	showCancelButton: true,
    			  	confirmButtonColor: '#3085d6',
    			  	cancelButtonColor: '#d33',
    			  	confirmButtonText: 'Yes, delete it!'
    			}).then((result) => {
    				if (result.value){
    					this.$Progress.start();
    					this.form.delete('api/user/'+id).then(() =>{
    						this.loadUsers();
    						this.$Progress.finish();
    						swal.fire(
    						  'Deleted!',
    						  'Your file has been deleted.',
    						  'success'
    						); }).catch(() =>{
    							this.$Progress.fail();
    							swal.fire(
    								'Failed!',
    								'Something went wrong.',
    								'warning'
    						);
    					});
    				}
    			})
    		},
    		loadUsers(){
    			if (this.$gate.isAdminOrAuthor()) {
    				axios.get('api/user').then(( {data} ) => (this.users = data))
    									.catch( () => {   										this.$Progress.fail();
    										toast.fire(
    											'Failed',
    											'Something went wrong. Cannot get Users.',
    											'warning'
    											);
    									});
    			}
    		},
    		createUser() {
    			this.$Progress.start();
    			this.form.post('api/user').then(( {data} ) => { this.loadUsers();
    															$('#addNew').modal('hide');
    															this.$Progress.finish();
    															toast.fire({
    																type: 'success',
    																title: 'User Created Successfully!'
    															}); }).catch( () => { this.$Progress.fail() });
    		}
    	},
        created() {
        	this.$Progress.start();
        	this.loadUsers();
        	this.$Progress.finish();
            Fire.$on('searching', () =>{
                let query = this.$parent.search;
                axios.get('api/findUser?q=' + query)
                .then((data) => {
                    this.users = data.data
                })
                .catch(() => {

                });
            });
        }
    }
</script>
